$main: #D70035;
$sub: #56565A;              
$red: #7D2222;
$gray: #B6B6B6;
$darkGray: #696969;
$lightGray: #D9D9D9;
$bgGray: #F2F2F2;


$basketContainerWidth: 22.7rem;


@mixin flex ($direction, $justify, $items, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    flex-wrap: $wrap;
    gap: $gap;
}
@mixin container ($justify) {
    width: 100vw;
    flex: 1;
    @include flex(column,  $justify, center, nowrap, 0);
}
@mixin button ($fontSize, $bgColor, $padding, $width: max-content, $border: none) {
    @include flex(row, center, center, nowrap, .5rem);
    font-size: $fontSize;
    min-width: $width;
    background-color: $bgColor;
    padding: $padding;
    border-radius: 3rem;
    box-sizing: border-box;
    @if($bgColor == #fff) {
        color: #000;
    } @else {
        color: #fff;
    }

    @if($border == none) {
        border: none;
    }@else {
        border: 1px solid $border;
    }
}
@mixin buttonSmall ($bgColor, $border) {
    @include button(1rem, $bgColor, 8px 16px, 5.56rem, $border)
}