@import 'variants';

.basketContainer {
    width: 0;
    height: 100vh;
    background-color: $bgGray;
    padding: 3.63rem .81rem 4.37rem;
    overflow: hidden;
    position: fixed;
    right: -$basketContainerWidth;
    transition: all .3s linear;
    
    & * { 
        display: none;
    }
    
    &.active {
        width: $basketContainerWidth;
        right: 0;

        & *:not(.quantityPicke *) {
            display: block;
        }

        .emblem {
            display: block;
            height: 9.31rem;
            margin: 0 auto;
        }

        .titleWrap {
            text-align: center;
            margin-block: 7rem 2.25rem;
            & * {
                line-height: 1.5;
            }
        }

        .basketList {
            .basketItem {
                min-height: 14.75rem;
                padding-block: 1rem 1rem;
                border-bottom: 1px solid $sub;
                font-size: 1.125rem;
                .itemContent {
                    @include flex(row, flex-start, flex-start, nowrap, 1rem);

                    img {
                        width: 7.2rem;
                        height: 7rem;
                        object-fit: cover;
                    }
                    .info {
                        padding-top: .5rem;

                        .top {
                            margin-bottom: 8px;

                            & > * {
                                display: inline;
                            }
                            .cancelBtn {
                                padding: 0 0 8px 8px;
                                float: right;
                                margin-top: -0.5rem;
                                svg {
                                    font-size: 1.65rem;
                                    vertical-align: top;
                                }
                            }
                        }
                        
                        .options {
                            margin-bottom: 8px;
                        }
                    }
                }
                .itemPrice {
                    @include flex(row, space-between, center, nowrap, 0);
                    margin-top: 1rem;

                    .quantityPicker {
                        width: fit-content;
                        * {
                            display: inline-flex;
                            font-size: 1.1rem
                        }
                        .quantity {
                            padding: .8rem 2rem
                        }
                    }
                }
            }
        }

    }
}
