@import 'variants';

.basketContainer {
    width: 0;
    height: 100vh;
    @include flex(column, flex-start, center, nowrap, 0);
    background-color: $bgGray;
    padding: 3.63rem .81rem 4.37rem;
    overflow: hidden;
    position: fixed;
    right: -$basketContainerWidth;
    transition: all .3s linear;
    
    & * { 
        display: none;
    }
    
    &.active {
        width: $basketContainerWidth;
        right: 0;

        & *:not(.quantityPicke *) {
            display: block;
        }

        .emblem {
            display: block;
            height: 9.31rem;
            margin: 0 auto;
        }

        .titleWrap {
            text-align: center;
            margin-block: 4rem 2.25rem;
            & * {
                line-height: 1.5;
            }
        }

        .basketList {
            flex: 1;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .basketItem {
                min-height: 14.75rem;
                padding-block: 1rem 1rem;
                border-bottom: 1px solid $sub;
                font-size: 1.125rem;
                .itemContent {
                    @include flex(row, flex-start, flex-start, nowrap, 1rem);

                    img {
                        width: 7.2rem;
                        height: 7rem;
                        object-fit: cover;
                    }
                    .info {
                        padding-top: .5rem;

                        .top {
                            margin-bottom: 8px;

                            & > * {
                                display: inline;
                            }
                            .cancelBtn {
                                padding: 0 0 8px 8px;
                                float: right;
                                margin-top: -0.5rem;
                                svg {
                                    font-size: 1.65rem;
                                    vertical-align: top;
                                }
                            }
                        }
                        
                        .options {
                            margin-bottom: 8px;
                        }
                    }
                }
                .itemPrice {
                    @include flex(row, space-between, center, nowrap, 0);
                    margin-top: 1rem;

                    .quantityPicker {
                        width: fit-content;
                        * {
                            display: inline-flex;
                            font-size: 1.1rem
                        }
                        .quantity {
                            padding: .8rem 2rem
                        }
                    }
                }
            }
        }

        .footer {
            width: 100%;
            padding-top: 3rem;
            & li {
                @include flex(row, space-between, center, nowrap, 0);
                padding-block: .5rem;

                & > * {
                    display: inline-flex;
                    font-size: 1.3rem;
                    font-weight: 500;
                    
                }
            }
            .marketingBanner {
                width: 100%;
                height: 7.5rem;
                object-fit: cover;
                margin-top: 1rem;
            }
        }
    }
}
