@import 'variants';

#menu {
    @include container(flex-start);
    flex-direction: row;

    .menuContainer {
        width: 100%;
        height: 100vh;
        @include flex(column, flex-start, flex-start, wrap, 0);

        header {
            width: 100%;
            .titleImg {
                height: 11.62vh;
                background: 25% 77%/ cover no-repeat url('https://mcdn.twosome.co.kr/upload/MODS0030/202106/MODS0030_20210617220342_PhOmqlrg');
                
                .backButton {
                    background-color: #ffffff81;
                    margin: 1.5rem 0 0 1.5rem;
                }
            }
        }
        #categoryList {
            width: 100%;
            height: 15.79vh;
            @include flex(row, center, center, nowrap, 0);

            .categoryContainer {
                @include flex(row, center, flex-start, wrap, 1.5rem 1.8rem);    
            }
    
            button.category {
                @include button(1.5rem, #fff, .75rem 1.25rem, 15rem, $main)
            }
            button.category.active {
                @include button(1.5rem, $main, .75rem 1.25rem, 15rem)
            }
        }
    
        #menuList {
            // height: 72.59vh;
            flex: 1;
            background-color: $bgGray;
            padding-inline: 3.62rem;
            overflow-y: auto;
            transition: all .3s linear;

            &::-webkit-scrollbar {
                display: none;
            }
    
            .menuWrap {
                @include flex(row, flex-start, flex-start, wrap, 2.5rem);
                padding-block: 5rem;
    
                .menuItem {
                    width: 17.5rem;
                    border-radius: 1.25rem;
                    border: 1px solid $gray;
                    .MuiCardHeader-title {
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    .MuiCardHeader-subheader {
                        font-size: 1rem;
                        color: $red;
                    }
                    
                    .MenuButtonWrap {
                        margin-left: auto;
        
                        .optionBtn {
                            @include buttonSmall(#fff, $main);
                            display: inline-flex;
                            margin-right: 0.75rem
                        }
                        .putBtn {
                            @include buttonSmall($main, $main);
                            display: inline-flex;
                        }
                    }
                }
            }
        }
    }
    $basketContainerWidth: 22.7rem;

    &:has(.basketContainer.active) {
        .menuContainer {
            width: calc(100% - $basketContainerWidth);
            transition: all .3s linear;
            #menuList {
                background-color: #fff;
                .menuWrap {
                    padding-top: 2.1rem;
                }
            }
            #categoryList {
                height: max-content;
                .MuiTabs-root {
                    padding-block: 2.5rem;
                    .MuiTabs-flexContainer {
                        gap: 1rem;
                    }
                    .MuiTabs-scrollButtons svg {
                        font-size: 2rem;
                        color: $sub
                    }
                    .MuiTabs-indicator {
                        display: none;
                    }
                }
                button.category {
                    font-size: 1.34rem;
                    min-width: 13.9rem;
                }
            }
        }
    }

    .basketContainer {
        width: 0;
        height: 100vh;
        background-color: $bgGray;
        padding: 3.63rem .81rem 4.37rem;
        overflow: hidden;
        position: fixed;
        right: -$basketContainerWidth;
        transition: all .3s linear;
        
        & * { 
            display: none;
        }
        
        &.active {
            width: $basketContainerWidth;
            right: 0;

            & * {
                display: block;
            }
    
            .emblem {
                display: block;
                height: 9.31rem;
                margin: 0 auto;
            }

            .titleWrap {
                text-align: center;
                margin-block: 7rem 2.25rem;
                & * {
                    line-height: 1.5;
                }
            }

            .basketList {
                .basketItem {
                    @include flex(row, flex-start, flex-start, nowrap, 1rem);
                    min-height: 14.75rem;
                    padding-top: 2rem;
                    border-bottom: 1px solid $sub;
                    font-size: 1.125rem;
                    img {
                        width: 7.2rem;
                        height: 7rem;
                        object-fit: cover;
                    }
                    .info {
                        padding-top: .5rem;

                        .top {
                            margin-bottom: 8px;

                            & > * {
                                display: inline;
                            }
                            .cancelBtn {
                                padding: 0 0 8px 8px;
                                float: right;
                                margin-top: -0.5rem;
                                svg {
                                    font-size: 1.65rem;
                                    vertical-align: top;
                                }
                            }
                            .name {
                                font-size: 1.2rem;
                                line-height: 1.1;
                            }
                        }
                        
                        .options {
                            margin-bottom: 8px;
                        }
                    }
                }
            }

        }
    }
}

#menuDetail {
    height: max-content;

    .MuiPaper-root {
        border-radius: 5rem 5rem 0rem 0rem;
        overflow: hidden;
        text-align: center;
        padding-inline: 6.75rem;
        padding-bottom: 20rem;

        .closeBtn {
            width: 9.3125rem;
            height: 6.0625rem;
            border-radius: 0rem 0rem 2.5rem 2.5rem;
            border: none;
            background-color: $bgGray;
            margin-inline: auto;
        }
        .orderBtn {
            @include button(1.5rem, $main, 1rem, 100%);
        }
        
        .menuInfo {
            @include flex(column, flex-start, center, nowrap, 1rem);
            
            .content {
                // width: 31.875rem;
                // height: 31.75rem;
                overflow: hidden;
                text-align: center;
                margin-top: 1.5rem;

                .title {
                    font-size: 2.3rem;
                }
                .menuImg {
                    width: 21rem;
                    height: 20rem;
                    object-fit: cover;
                    border-radius: 2rem;
                    margin-bottom: .8rem;
                }
            }
            .quantityPicker {
                border: 1px solid $gray;
                .quantity {
                    display: inline-block;
                    border-inline: 1px solid $gray;
                    padding: 1rem 3rem;
                    line-height: 1;
                    vertical-align: middle;
                }
            }
        }
        .optionGroupTitle {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: left;
            color: #000;
            margin-bottom: .5rem;
        }
        .subChoices {
            width: 100%;
        }
        .MuiFormControl-root {
            display: flex;
            margin-bottom: 2rem;
            .optionGroup {
                flex-direction: row;
                gap: 1.3rem 2.56rem;
                .option {
                    white-space: nowrap;
                    margin: 0;
                    .css-ahj2mt-MuiTypography-root {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                    &:not(.active) {
                        @include button(1.5rem, $bgGray, 1rem, inherit);
                        color: #000;
                    }
                    &.active {
                        @include button(1.5rem, #fff, 1rem, inherit, $main);
                    }
                    .MuiButtonBase-root {
                        display: none;
                    }
                }
            }
        }
        .addOptionBtn {
            @include button(1.5rem, #fff, 1rem, 100%, $main);
            margin-block: 4rem 1.3rem;
            .selectAddOption {
                display: inline-block;
                max-width: 40%;
                vertical-align: bottom;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .additionalOptions {
            @include flex(column, flex-start, flex-start, nowrap, 1rem);
            min-height: 71vh;
            padding-top: 6.0625rem;
            & > * {
                width: 100%;
            }
            .orderBtn {
                margin-top: auto;
                margin-bottom: -11rem;
            }
        }
    }
}
